body{
	background-color: gainsboro;

}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
            margin:0;padding:0
        }

div.allpage{
	margin:0px 50px 0px 50px;
}

#box1{
	   background-color: #189F92;
	   width: 100%;
	   /* fixed定位 此属性位置不随页面滑动而改变位置 */
	   position: static;	   
}


#box1 p{
	font-size: 50px;
	text-align: center;
}

#box2{
	background-color: ghostwhite;
	padding: 10px;
	
}



#serch{
	background-color: seagreen;
	font-size: 15px;
	padding-right: 12px;
	padding-left: 12px;
	border-style: outset;
	border-width: thin;
	border-left-style: outset;
}


#userinfo{
	background-color: ghostwhite;
	color: black;
	font-size: 15px;
	padding-right: 12px;
	margin-left: 65%;
	
}



#box2 input{
	margin:1px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 15px;
}

#box2 form{
	font-size: 20px;
}

#box3 {
	
	height: 1500px;
	padding: 20px;
	
	background-color: white;

}

#content {

	
	
}
#content p{
	color: brown;
	background-color: ghostwhite;
}
ul.content{
	list-style-type: none;
	    margin:1px;
		margin-left: 0px;
		margin-right: 0px;
		
	    overflow: hidden;
	   
}
ul.content li{
	float: left;
	border: none;
	padding-left: 20px; 
}

ul.content a{
	display: block;
	color: black;
	text-align: center;
	font-size: 15px;
	font-style: initial;
}

ul.message{
	border-style: solid;border-color: #008B8B;border-width: 2px;margin-top: 2px;padding-left: 200px;
}

.iframe2{
	height: 901px;
	width:  1460px;
	frameborder:no;
	border: 0;
	marginwidth:0;
	marginheight:0;
	scrolling:no;
	allowtransparency:yes;
	float: right;
	
}



.iframe1{
	height: 900px;
	width: 300px;
	frameborder:no;
	border: 0;
	marginwidth:0;
	marginheight:0;
	scrolling:no;
	float: left;
	allowtransparency:yes;
}

#loginform{
	padding: 30px;
}

#loginform input{
	margin-left: 80px;
	padding: 2px;
	margin-top: 5px;
}

#login{
	width: auto;
}
body.hide{
		overflow: hidden;
}

#pinpaiform{
	
	padding-right: 400px;
	
}

#pinpaiform ul{
	padding-left: 30px;
	list-style: square;
}
#pinpaiform li{
	/* 隐藏多出来文字 */
	width: 150px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;

}

 




#login p{
	color: brown;
	background-color: ghostwhite;
	border-style: groove;
	border-width: 1px;
	
}


#paihangbang{
	border-style: groove;
	border-width: 1px;
	border-color: black;
	margin: 10px;
	float: left;
	padding-right: 20px;
	width: 880px;
	
}
#paihangbang a{
	color: #000000;
}

#typelist{
	border-style: groove;
	border-width: 1px;
	border-color: black;
	margin: 10px;
	float: left;
	padding-right: 20px;
	width: 200px;
	
}
#typelist a{
	color: #000000;
}
p.head{
	color: white;
}
	
ul.daohang {
	list-style-type: none;
	    margin:0px;
		margin-left: 20%;
		margin-right:20%;
		width: auto;
	    padding: 0;
	    overflow: hidden;
	    background-color: #3C6ABD;
		
}	

ul.daohang li{
    float: left;
	border-style: outset;
	border-width: thin;
	border-left-style: none;
	width: 185px;
}

ul.daohang a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
	font-size: 15px;
	font-style: initial;
}

ul.daohang a:hover {
    background-color: #00FFFF;
}
	
